<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Homobiles</title>
        <link rel="stylesheet" href="/static/rowsheet/bootstrap.min.css">
        <link rel="stylesheet" href="/static/rideshare/uikit.min.css">
        <link rel="stylesheet" href="/static/rideshare/main.css">
        <link rel="stylesheet" href="/static/rideshare/bootstrap-datetimepicker.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
        <script src="/static/rowsheet/jquery.min.js"></script>
        <script src="/static/rowsheet/bootstrap.min.js"></script>
        <script src="/static/rowsheet/popper.min.js"></script>
        <script src="/static/rideshare/uikit.min.js"></script>
        <script src="/static/rideshare/uikit-icons.min.js"></script>
        <script>var jQuery_3_4 = $.noConflict();</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="/static/rideshare/bootstrap-datetimepicker.js"></script>
        <script src="/static/rideshare/app.js"></script>
        <script>var $ = jQuery_3_4;</script>
        <style>@keyframes hidePreloader{0%{width:100%;height:100%}100%{width:0;height:0}}body>div.preloader{position:fixed;background:#fff;width:100%;height:100%;z-index:1071;opacity:0;transition:opacity .5s ease;overflow:hidden;pointer-events:none;display:flex;align-items:center;justify-content:center}body:not(.loaded)>div.preloader{opacity:1}body:not(.loaded){overflow:hidden}body.loaded>div.preloader{animation:hidePreloader .5s linear .5s forwards}</style>
        <script>window.addEventListener("load",function(){setTimeout(function(){document.querySelector("body").classList.add("loaded")},300)})</script>
        <script src="https://js.stripe.com/v3/"></script>
        <!-- Save to Home Screen as App on iPhone -->
        <!-- <link rel="manifest" href="/manifest.json"> -->
<script>
/*
window.addEventListener("load", function() {
    document.querySelector("[type='submit']").addEventListener("click", function(event) {
        event.currentTarget.innerHTML = '<i class="fas fa-spinner fa-pulse"></i>';
    });
});
*/
</script>
    </head>
    <body>
        <div id="main_sidebar" class="bg-light">
            <button id="main_sidebar_trigger"
                    class="hidden"
                    type="button" uk-toggle="target: #offcanvas-overlay">
                Open
            </button>
            <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar bg-light text-dark border-left">
                    <div class="bg-primary p-3">
                        {% if app_user is None %}
                        No AppUser
                        {% else %}
                        <p class="m-0 text-center text-light">
                            {{ app_user.username }}
                        </p>
                        <p class="m-0 text-center text-light">
                            <small>
                                {{ app_user.pronoun.display_name }}
                            </small>
                        </p>
                        {% endif %}
                    </div>
                    {% if user_type is None %}
                    <a href="/accounts/login" class="btn btn-primary">
                        Sign In
                    </a>
                    {% elif user_type == "rider" %}
                    {% include "rideshare/partials/rider_sidebar.html" %}
                    {% elif user_type == "driver" %}
                    {% include "rideshare/partials/driver_sidebar.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="main_container">
            <div id="main_content" class="border-left border-right">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>

    <!-- <script>
        if ('serviceWorker' in navigator) {
          console.log("Will service worker register?");
          navigator.serviceWorker.register('service-worker.js').then(function(reg){
            console.log("Yes it did.");
          }).catch(function(err) {
            console.log("No it didn't. This happened: ", err)
          });
        }
      </script> -->

</html>
