#ride_form * {
    text-decoration: none !important;
}

.input-group-sm .input-group-text {
    width: 49px !important;
    text-align: center !important;
}

.input-group-sm i {
    font-size: 19px;
    width: 100%;
}

.material-icons {
    vertical-align:middle;
    font-size: 21px !important;
}

.hidden {
    display: none;
}

#main_row {
    height: 100vh;
}

.location_setter {
    .input-group-text {
        width: 63px;
    }
}

.btn-round {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.uk-offcanvas-bar {
    padding: 0;
}

#page_main_screen {
    #ride_form {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 10px;
    }
}

.sidebar {
    .fas {
        width: 25px;
    }
}

.uk-offcanvas-bar {
    border: none !important;
}

#main_content {
    max-width: 500px;
    height: 100vh;
    position: relative;
    margin: auto;
}
