:root {
    --theme-color: #8bcb8d;
    --dark: #596981;
    --light: #eeeeee;
    --background: white;
}

body {
    background: var(--dark);
}

#main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#desktop_extra {
    background: lightblue;
    flex: auto;
}

#mobile_app {
    background: white;
    height: 100vh;
    width: 500px;
    min-width: 500px;
    position: sticky;
    top: 0px;
    overflow: scroll;
}

@media screen and (max-width: 500px) {
    * { color: red; }
    #mobile_app {
        width: 100%;
        min-width: 100%;
    }
    #main {
        height: 100vh;
        overflow: hidden;
    }
}

/*--------------------------------------
 * COMPONENTS 
--------------------------------------*/

.round_button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: var(--theme-color);
    border: none;
    float: right;
}

i.material-icons {
    vertical-align: middle;
}

.map {
    background: var(--light);
}

/*--------------------------------------
 * PAGES
--------------------------------------*/

/* Initial Screen */

#page_inital_screen {
    background: var(--background);
    height: 100%;
}

#page_inital_screen #big_logo {
    width: 200px;
    height: 200px;
    margin: auto;
    background: var(--theme-color);
}

/* Main Screen */

#page_main_screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--background);
}

#page_main_screen #main_form {
    background: var(--theme-color);
}

#page_main_screen .map {
    flex-grow: 1;
}

/* Verification Phone */

#page_verification_phone {
    background: var(--background);
    height: 100%;
}

/* Set Location */

#page_set_location {
    background: var(--background);
    height: 100%;
}

/* Create Account */

#page_create_account {
    background: var(--background);
    height: 100%;
}

#page_create_account .map {
    height: 100%;
}

#page_create_account #profile_picture {
    background: var(--theme-color);
    height: 100px;
    width : 100px;
    margin: auto;
}

/* Account Created */

#page_account_created {
    background: var(--background);
    height: 100%;
}

#page_account_created .map {
    height: 100%;
}

#page_account_created #profile_picture {
    background: var(--theme-color);
    height: 100px;
    width : 100px;
    margin: auto;
}

/* Account */

#page_account {
    background: var(--background);
    height: 100%;
}

#page_account .info_icon {
    color: var(--theme-color);
    float: right;
}

#page_account h3 {
    border-bottom: 1px solid lightgray;
}
