{% extends "rideshare/site_layout.html" %}

{% block "main" %}
<main class="for_drivers_page">
	<div>

<div class="row container-fluid flush" id="for_page">
	<div class="col-md-6">
        <p class="page_header">Interested in becoming a Homobiles Driver?</p>
        <br>
        <p>We're flattered you want to join Homobiles!
            <br>
            <br>Our community relies on us to provide secure, reliable, and tender transporation, regardless of
            ability
            to pay.
			<br>
			We do supplement our volunteers if the rider is not able to donate. We are looking for drivers well-versed in LGBTIQ culture. 
			<br>
			Text us at 415-574-5023 or apply <a href="/signup">here.</a>
        </p>
    </div>
	<div class="col-md-6 accent">
		<div id="text_break_circle">
			<div id="starlogo">
        <div id="star" class="overlapping-shape">
            <img src="/static/site/star-glow.png">
            <p>H</p>
        </div>
    </div>

		</div>
    </div>
</div>
<div class="row container-fluid flush flex-column-reverse flex-md-row" id="for_page">
	<div class="col-md-6 accent">
		<div id="text_break_no_circle">
			<img src="/static/site/24-7.png">
		</div>
    </div>
	<div class="col-md-6">
		<div id="text_blob">
			<p>Although Homobiles provides transportation for people regardless of pay, we also believe in paying
				drivers
				for their service.
				It's a lot of work hustling people around! We also have a NO JERKS policy. We don't serve jerks. Neither
				should you.
				If you need support for any reason, we have support avaiable 24/7.
			</p>
		</div>
    </div>
</div>
<div class="row container-fluid flush" id="for_page">
	<div class="col-md-6">
        <blockquote class="blockquote">
			<p>
				"The difference between Homobiles and a cab is that a cabbie needs to make it worth their while because it's their job. As a nonprofit, our job is to simply help people in danger who are gender or sexual outlaws, – or even just women, which is apparently some kind of outlaw – where they are going safely."
			</p>
        </blockquote>
        <p>
            - Lynn Breedlove
        </p>
    </div>
	<div class="col-md-6 accent">
		<div id="text_break_no_circle">
			<img src="/static/site/cars.png">
		</div>
    </div>
</div>
<div class="row container-fluid flush flex-column-reverse flex-md-row" id="for_page">
	<div class="col-md-6 accent">
		<div id="text_break_no_circle">
			<img src="/static/site/money.png">
		</div>
    </div>
	<div class="col-md-6">
		<div id="text_blob">
			<p>
				Give back to the community, while earning cash from a queer-owned organization.
			</p>
		</div>
    </div>
</div>

	</div>
</main>
{% endblock %}
