{% extends "rideshare/site_layout.html" %}

{% block "main" %}
<main class="for_drivers_page">
	<div>

<div class="row container-fluid flush" id="for_page">
	<div class="col-md-6">
        <p class="page_header">Interested in becoming a Homobiles Driver?</p>
        <br>
        <p>We're flattered you want to join Homobiles!
            <!-- <br> -->
            <br>Our community relies on us to provide secure, reliable, and tender transporation, regardless of
            ability to pay. We do supplement our volunteers if the rider is not able to donate. We are looking for drivers well-versed in LGBTIQ culture. 
			<br>
			Text us at 415-574-5023 or apply <a href="/signup">here.</a>
        </p>
    </div>
	<div class="col-md-6 accent">
		<div id="text_break_circle">
			<div id="starlogo">
        <div id="star" class="overlapping-shape">
            <img src="/static/site/star-glow.png">
            <p>H</p>
        </div>
    </div>

		</div>
    </div>
</div>
<div class="row container-fluid flush flex-column-reverse flex-md-row" id="for_page">
	<div class="col-md-6 accent">
		<div id="text_break_no_circle">
			<img src="/static/site/24-7.png">
		</div>
    </div>
	<div class="col-md-6">
		<div id="text_blob">
			<p>Although Homobiles provides transportation for people regardless of pay, we also believe in paying
				drivers for their service.
				<br>
				If riders book in advance, we can often find a driver for the time needed.  until we get the app, this is the best way to guarantee service when needed. Once the app is up and running, we hope to have more ubiquitous drivers and ability to serve the community 24/7 in the moment.
				<br>
				If you need support for any reason, we have support avaiable 24/7.
			</p>
		</div>
    </div>
</div>
<div class="row container-fluid flush" id="for_page">
	<div class="col-md-6">
        <blockquote class="blockquote">
			<p>
				Homobiles runs on love, and also your donations!
				<br>If you donate at the end of your ride, your donation goes directly to the driver. If you aren'† able to donate, no worries! We'll supplement their expenses with some grant money. 
				<br>We are here to serve those who, due to their perceived gender or sexuality, are at risk on various other modes of transportation. We are here to trans-port you in an emotionally safety to or from the doc, your performance, or wherever you have to be.
				<br>Donate what you can, no one turned away for lack of funds. 
				<br>People have asked, But won't folks take advantage of the honor system? 
				<br>And we always say, "No, but if they do, that's their problem!".
			</p>
        </blockquote>
        <p>
            - Lynn Breedlove
        </p>
    </div>
	<div class="col-md-6 accent">
		<div id="text_break_no_circle">
			<img src="/static/site/cars.png">
		</div>
    </div>
</div>
<div class="row container-fluid flush flex-column-reverse flex-md-row" id="for_page">
	<div class="col-md-6 accent">
		<div id="text_break_no_circle">
			<img src="/static/site/money.png">
		</div>
    </div>
	<div class="col-md-6">
		<div id="text_blob">
			<p>
				Give back to the community, while supporting a queer-owned organization.
			</p>
		</div>
    </div>
</div>

	</div>
</main>
{% endblock %}
