<style>
    .driver-icon {
        color: rgb(240, 49, 84) !important;
    }
</style>
<div class="sidebar py-3">
    <p class="pl-3">
        <a href="/driver/available_rides" class="text-dark">
            <i class="material-icons driver-icon">stars</i>
            available rides
            {% if sidebar_info.available_rides_count > 0 %}
            <span class="badge bg-warning text-light float-right mr-2">
                {{ sidebar_info.available_rides_count }}
            </span>
            {% endif %}
        </a>
    </p>
    <p class="pl-3">
        <a href="/driver/upcoming_rides" class="text-dark">
            <i class="material-icons driver-icon">departure_board</i>
            upcoming rides
            {% if sidebar_info.upcoming_rides_count > 0 %}
            <span class="badge bg-success text-light float-right mr-2">
                {{ sidebar_info.upcoming_rides_count }}
            </span>
            {% endif %}
        </a>
    </p>
    <p class="pl-3">
        <a href="/driver/past_rides" class="text-dark">
            <i class="material-icons driver-icon">history</i>
            past rides
            {% if sidebar_info.past_rides_count > 0 %}
            <span class="badge bg-secondary text-light float-right mr-2">
                {{ sidebar_info.past_rides_count }}
            </span>
            {% endif %}
        </a>
    </p>
    <p class="pl-3">
        <a href="/driver/notifications" class="text-dark">
            <i class="material-icons driver-icon">sms</i>
            notifications
        </a>
    </p>
    <hr class="border-bottom">
    <p class="pl-3">
        <a href="/driver/account" class="text-dark">
            <i class="fas fa-user-circle pr-2 driver-icon"></i>
            my account
        </a>
    </p>
    <p class="pl-3">
        <a href="/driver/settings" class="text-dark">
            <i class="fas fa-cog pr-2 driver-icon"></i>
            settings
        </a>
    </p>
    <hr class="border-bottom">
    <p class="pl-3">
        <a href="/driver/about" class="text-dark">
            <i class="fas fa-info-circle pr-2 driver-icon"></i>
            about homobiles
        </a>
    </p>
    <p class="pl-3">
        <a href="/driver/help" class="text-dark">
            <i class="fas fa-question-circle pr-2 driver-icon"></i>
            help
        </a>
    </p>
    <p class="pl-3" style="position: absolute; bottom: 0px;">
        <a href="/" class="text-dark">
            <i class="fas fa-car-side pr-2 driver-icon"></i>
            Switch to riding
        </a>
    </p>
</div>
