<div class="sidebar py-3">
    <p class="pl-3">
        <a href="/main_screen" class="text-dark">
            <i class="fas fa-car pr-2"></i>
            request a ride
        </a>
    </p>
    <p class="pl-3">
        <a href="/past_rides" class="text-dark">
            <i class="fas fa-car-side pr-2"></i>
            past rides
        </a>
    </p>
    <p class="pl-3">
        <a href="/account" class="text-dark">
            <i class="fas fa-user-circle pr-2"></i>
            my account
        </a>
    </p>
    <p class="pl-3">
        <a href="/donation_station" class="text-dark">
            <i class="fas fa-hand-holding-usd pr-2"></i>
            donation station
        </a>
    </p>
    <p class="pl-3">
        <a href="/settings" class="text-dark">
            <i class="fas fa-cog pr-2"></i>
            settings
        </a>
    </p>
    <p class="pl-3">
        <a href="/driver" class="text-dark">
            <i class="fas fa-car pr-2"></i>
            become a driver
        </a>
    </p>
    <p class="pl-3">
        <a href="/about" class="text-dark">
            <i class="fas fa-info-circle pr-2"></i>
            about homobiles
        </a>
    </p>
    <p class="pl-3">
        <a href="/help" class="text-dark">
            <i class="fas fa-question-circle pr-2"></i>
            help
        </a>
    </p>
    <p class="pl-3" style="position: absolute; bottom: 0px;">
        <a href="/driver" class="text-dark">
            <i class="fas fa-road pr-2"></i>
            Switch to driving
        </a>
    </p>
</div>
