/*------------------------------------------------------------------------------
Form Utils
------------------------------------------------------------------------------*/
.form_message.hidden {
    display: none;
}
.input_error {
    background: #ffecec;
    color: #ff5565;
}
/*------------------------------------------------------------------------------
Row
------------------------------------------------------------------------------*/
.row {
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------------------------------------------
Site Info
------------------------------------------------------------------------------*/
div#site_info.jumbotron {
    background: none;
}
div#site_info h1,h2,h3 {
    text-align: left !important;
}
.index_info {
    color: white !important;
    text-overflow: ellipsis;
    text-size-adjust: auto;
    max-width: 700px;
    margin: auto;
}
h3.index_info,
h4.index_info,
h5.index_info,
h6.index_info {
    text-align: justify;
}
h1.index_info,
h2.index_info {
    text-align: left;
}
div#site_info {
    padding-right: 25px;
}
#index_page #site_info_text,
#for_page #for_riders_page,
#for_page #for_drivers_page {
    padding: 10px;
    /* background: #ffffffa8; */
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 25px white, 0px 0px 25px white; */
}
main.index_page {
    padding-bottom: 55px;
}
/*------------------------------------------------------------------------------
Logos
------------------------------------------------------------------------------*/
a#logo {
    font-size: 27px;
    font-weight: bold !important;
}
div#text_break_circle {
    width: 225px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
div#text_break_no_circle {
    width: 225px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
div#text_break_circle img {
    border-radius: 50%;
    background-color: 201668;
    border: 0px;
    max-height: 225px;
    max-width: 225px;
    width: 225px;
    object-fit: scale-down;
    /* box-shadow: 0px 0px 25px rgb(233, 188, 233), 0px 0px 25px white; */
}
div#text_break_no_circle img {
    /* border-radius: 50%; */
    /* background-color: 201668; */
    border: 0px;
    max-height: 225px;
    max-width: 225px;
    width: 225px;
    object-fit: scale-down;
}
/*------------------------------------------------------------------------------
Main Nav
------------------------------------------------------------------------------*/
#main_nav {
    padding-top: 11px;
    padding-bottom: 10px;
    background-color: #403678
}
/*------------------------------------------------------------------------------
Line Or
------------------------------------------------------------------------------*/
.or_left {
    border: 1px solid #907fae;
    width: calc(50% - 25px);
}
.or_right {
    border: 1px solid #907fae;
    width: calc(50% - 25px);
    float: right;
    margin-top: -21px;
}
h5.or_center.text-center {
    margin-top: -13px;
    font-weight: bold !important;
    color: #907fae;
}
.line_or {
    margin-top: 33px;
    margin-bottom: 19px;
    padding-left: 31px;
    padding-right: 31px;
}
/*------------------------------------------------------------------------------
Standard Theme Font
------------------------------------------------------------------------------*/
* {
	font-family: 'Josefin Sans', sans-serif;
}
.purple {
    color: #907fae;
    font-weight: 400 !important;
}
h1,h2,h3 {
    color: #907fae;
}
h4,h5,h6,p {
    color: #907fae;
    font-weight: 300;
}
button,input,select,textarea {
    font-weight: 200 !important;
    color: black !important;
}
::placeholder {
    font-weight: 300 !important;
}
input::placeholder {
    color: #cacaca !important;
}
/* select option {
    color: red !important;
} */
select {
    color: #cacaca !important;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}
textarea::placeholder {
    color: #cacaca !important;
}
a {
    font-weight: 300 !important;
    color: #ee8ec0 !important;
}
a.nav-link {
    font-weight: 300 !important;
    color: #907fae !important;
}
/*------------------------------------------------------------------------------
Standard Theme Logo
------------------------------------------------------------------------------*/
div#text_break_circle #starlogo {
    position: relative;
    display: inline-block;
}
div#starlogo {
    left: 0px;
    position: relative;
}
div#for_page #starlogo {
    left: 0px;
    position: relative;
}
div#star p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    display: block;
    font-size: 71px;
    /* font-weight: 700; */
    color: #C3F9FE !important;
    text-align: center;
    z-index: 1;
    top: 66px;
    left: 84px;
    padding-left: 0px;
}
/*------------------------------------------------------------------------------
Standard Theme Buttons
------------------------------------------------------------------------------*/
.btn-outline-secondary:hover {
    background: #907fae;
}
.btn-outline-secondary:hover {
    background-image: linear-gradient(to bottom right, #fff6fe, #fffff0);
    color: #907fae;
    border-color: #907fae;
}
/*------------------------------------------------------------------------------
Standard Theme Footer
------------------------------------------------------------------------------*/
.footer {
    background: white;
    box-shadow: 0px 0px 5px #00000012;
}
#copyright {
    width: 100%;
}
/*------------------------------------------------------------------------------
Standard Theme Card Forms
------------------------------------------------------------------------------*/
.card {
    background: none !important;
    margin-left: auto;
    margin-right: auto;
    /* border-color: #5b369d; */
}
#signup .card-header {
    background: none !important;
}
.card_form {
    border: none;
    max-width: 700px;
    border-radius: 5px;
    overflow: hidden;
}
.card_form .card-header {
    border: none;
}
.card_form .input-group .mb-2 {
    border: none !important;
}
.card_form .form-control {
    border-radius: 00px 100px 100px 00px !important;
    border: 0px;
}
#signup_forms .form-control {
    border-radius: 00px 100px 100px 00px !important;
}
#open-input.form-control {
    border-radius: 100px 100px 100px 100px !important;
}
.card-input .input-group-prepend {
    border: none !important;
}
.card_form input {
    border: none !important;
}
a {
    color: #ee8ec0;
}
input {
    /* box-shadow: 0px 0px 3px #00000042 inset; */
    border: 2px;
    border-color: #907fae0f
}
.input-group .input-group-prepend .input-group-text {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.input-group-prepend .input-group-text {
    border-radius: 150px 0px 0px 150px !important;
}


/*------------------------------------------------------------------------------
Background Bodies
------------------------------------------------------------------------------*/
body.index {
    /* background-image: url(/public/img/splash.png), linear-gradient(to bottom right, #fff6fe, #fffff0); */
    background-color:white;
    /* background-blend-mode: color-burn; */
}
body.details_page {
    /* background-image: url(/public/img/splash.png), linear-gradient(to bottom right, #fff6fe, #fffff0); */
    background-color: white;
    /* background-blend-mode: color-burn; */
}
body.app_page {
    background-image: linear-gradient(to bottom right, #fff6fe, #fffff0);
}
/*------------------------------------------------------------------------------
Text to Fetch
------------------------------------------------------------------------------*/
#text_to_fetch_number {
    font-weight: 400 !important;
    color: #64d8ee;
}
#text_to_fetch_tagline {
    margin-bottom: 0px;
    color: #907fae;
}
.card-body.text_to_fetch {
    background: none;
}
p.text_to_fetch_info i {
    color: #64d8ee;;
    vertical-align:middle;
    margin-top: -3px;
}
.text_to_fetch_info_box.text-left {
    max-width: 213px;
    margin: auto;
    background: #fffbf900;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 9px;
}
p.text_to_fetch_info {
    color: #5b369d;
    margin-bottom: 0px;
    line-height: 13px;
    border-bottom: 1px dashed #907fae75;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 6px;
}
p.text_to_fetch_info.last {
    border-bottom: none;
}
/* .text_to_fetch_header {
    background: #ee8ec0c9 !important;
} */
#text_to_fetch_number {
    text-align: center !important;
}
/*------------------------------------------------------------------------------
Index Page Boxes
------------------------------------------------------------------------------*/
#info_section{
    /* background-color: #201668; */
    width: 100%;
    margin: 0;
    background-image: url(/static/site/city.jpg);
    background-color: #7a6dbd; 
    /* #231a56 */
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
}
div#illustration img{
    width: 200px;
    float: right;
}
#index_page #info_section, #index_page #form_section {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
#index_page .card-header {
    border-radius: 1px 1px 0px 0px !important;
    /* background: linear-gradient(70deg, white, black); */
    background: linear-gradient(45deg, #5446A4, #64D8EE 50%, #ff57f1);
}
#index_page .card-body {
    border-radius: 0px 0px 1px 1px !important;
    background-color: rgb(251, 251, 250);
}
#index_page .card {
    border: none;
    /* box-shadow: 0px 1px 11px #00000085; */
}
main.index_page {
    background: #f6f6f6;
}
/*------------------------------------------------------------------------------
Info pages
------------------------------------------------------------------------------*/
div#text_blob{
    text-align: justify;
    text-size-adjust: auto;
}
main.for_drivers_page{
    background-color: #C3F9FE !important;
}
div#for_drivers_page p{
    text-size-adjust: auto;
}
main.for_riders_page{
    background-color: #FFFB8B !important;
}
div#for_riders_page p{
    text-size-adjust: auto;
}
p.quote {
    margin-left: 40px;
    margin-right: 40px;
}
p.page_header {
    font-size: 2.1em;
    line-height: 1.2em;
    font-weight: bold;
}
/*------------------------------------------------------------------------------
Request a ride form
------------------------------------------------------------------------------*/

#FORM_request_a_ride .card-header{
    color: white;
}
/*------------------------------------------------------------------------------
Footer
------------------------------------------------------------------------------*/
p.footer_sitemap_item {
    height: 5px;
}
/*------------------------------------------------------------------------------
Purple cards
------------------------------------------------------------------------------*/
.card.purple .card-header{
    color: white;
    /* background-color: #403678; */
    background: linear-gradient(45deg, #FF57F1, #64D8EE 50%, #5446A4);
}
.card.purple .card-body{
    /* background: #907fae0f; */
}
.card.purple .card-body .input-group-text {
    border: none;
    color: #5446A4;
    background: white;
    border-left: 3px solid #64D8EE !important;
}
/*------------------------------------------------------------------------------
Pink cards
------------------------------------------------------------------------------*/
.card.pink .card-header{
    color: white;
    background-color: #fff050;
}
.card.pink .card-body{
    /* background: #ee8ec00f; */
}
.card.pink .card-body .input-group-text {
    border: none;
    color: #ee8ec0;
    background: white;
    border-left: 3px solid #f72e99 !important;
}

.card-body.text_to_fetch {
    color: #ee8ec0;
}
/*------------------------------------------------------------------------------
Flush
------------------------------------------------------------------------------*/
.flush {
   padding: 0px; 
}
.flush > div {
    padding: 50px;
}
.flush .accent {
    background: #ffffff75;
}
.flush p:not(.page_header) {
    font-size: 1.2em;
}
.flush > div {
    margin-top: auto;
    margin-bottom: auto;
}
/*------------------------------------------------------------------------------
Blockquote
------------------------------------------------------------------------------*/
.blockquote p {
    font-weight: bold;
}
.blockquote {
    margin-bottom: 1rem;
    font-size: 10px;
    border-left: 7px solid #907fae78;
    padding-left: 10px;
    padding-top: 10px;
}
