{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_about" class="p-2">
    <button class="btn btn-round"
            onclick="$('#main_sidebar_trigger').click()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <img src="../../../static/site/about-castro-bridge.png" alt="about-castro-bridge" width="100%">
    <h2>About</h2>
    <p>
        Why did I start Homobiles? It was the 90’s and I ran a bike 
messenger service called Lickety Split All Girl Courier. 
The 90s turned into the 2000s and I was into music and on 
tour as a solo musician focused on gender. While touring 
the US and Europe- my mom fell ill- so I left that music 
scene and returned to San Francisco. My mom's car was 
sitting in the driveway all shiny and new, so I decided to 
print a few flyers, jump in my car, and drive to the nearest 
gay bar. I knew the clientele and I knew their needs. 
But what I didn't know, and what I soon learned, is 
that our LGBTQIA community has been ignored, 
bothered, assaulted, and sorely mistreated while trying 
to travel around San Francisco. Soon, my friends became 
interested and offered to start driving and suddenly 
our team grew into what is now Homobiles. In 2014, 
Homobiles received its 501 (c) 3 status and was funded 
solely by donations from our 5,000 passengers. 
<br>
<br>
-Lynn Breedlove, founder of Homobiles
    </p>
</div>
{% endblock %}
