{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_account">
    <button class="btn btn-light btn-round"
            onclick="$('#main_sidebar_trigger').click()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <h3>
        Account
        <small>
            <i class="fas fa-info-circle float-right"></i>
        </small>
    </h3>
    <hr>
    <a href="/profile">
        <h4>
            <i class="fas fa-user-circle"></i>
            Profile
            <i class="fas fa-chevron-right float-right"></i>
        </h4>
    </a>
    <hr>
    <a href="/payment-methods">
        <h4>
            <i class="fas fa-credit-card"></i>
            Payment Methods
            <i class="fas fa-chevron-right float-right"></i>
        </h4>
    </a>
    <hr>
    <a href="/email">
        <h4>
            <i class="fas fa-envelope"></i>
            E-mail
            <i class="fas fa-chevron-right float-right"></i>
        </h4>
    </a>
    <hr>
    <a href="/phone_number">
        <h4>
            <i class="fas fa-phone"></i>
            {{ phone_number }}
            <i class="fas fa-chevron-right float-right"></i>
        </h4>
    </a>
    <hr>
    <a href="/services">
        <h4>
            <i class="fas fa-wheelchair"></i>
            Services
            <i class="fas fa-chevron-right float-right"></i>
        </h4>
    </a>
</div>
{% endblock %}

{% block info %}
Phone Verication {{ user_id }}
<br>
<p>
    Username:
    {{ app_user.username }}
</p>
<p>
    Display Name:
    {{ app_user.pronoun.display_name }}
</p>
<p>
    Phone Number:
    {{ phone_number }}
</p>
<p>
    Phone Verified:
    {{ phone_verified }}
</p>
{% endblock %}
