{% extends "rideshare/index.html" %}

{% block content %}
<div id="page_account_created">
    <div class="map p-5">
        <div class="card">
            <div class="card-body p-4">
                <h5 class="m-3 mb-4 text-center">
                    You’re ready to start riding with Homobiles!
                </h5>
                <div id="profile_picture">
                </div>
                <button type="button" class="btn btn-primary float-right">
                    Done 
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
