{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_phone_verification">
    <a href="/" class="btn btn-light btn-round">
        <i class="fas fa-chevron-left"></i>
    </a>
    <h3>
        Enter your code
    </h3>
    <p>
        Enter the verification code we sent you
    </p>
    <input type="text" class="form-control"/>
    <a href="/" class="btn btn-light btn-round mt-3">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
{% endblock %}

{% block info %}
Phone Verication {{ user_id }}
<br>
<p>
    Username:
    {{ app_user.username }}
</p>
<p>
    Display Name:
    {{ app_user.pronoun.display_name }}
</p>
<p>
    Phone Number:
    {{ phone_number }}
</p>
<p>
    Phone Verified:
    {{ phone_verified }}
</p>
{% endblock %}
