{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_phone_verification" class="p-2">
    <a href="/phone_verification" class="btn btn-light btn-round">
        <i class="fas fa-chevron-left"></i>
    </a>
    <form action="/code_verification/" method="post">
        <p class="h3">
            Enter your code
            <h6 class="m-0">
                 Enter the verification code we sent you.
            </h6>
        </p>
        {% csrf_token %}
        <input
                name="verification_code"
                placeholder="Enter code here"
                type="text" class="form-control"/>
        {% if error != "" %}
        <div class="alert alert-danger my-3">
            {{ error }}
        </div>
        {% endif %}
        <button type="submit" class="btn float-right">
            Save
        </button>
    </form>
</div>
{% endblock %}
