{% extends "rideshare/index.html" %}

{% block content %}
<div id="page_create_account">
    <div class="map p-5">
        <div class="card">
            <div class="card-body p-4">
                <h5 class="m-3 mb-4 text-center">
                    Create an account to start riding with Homobiles!
                </h5>
                <div id="profile_picture">
                </div>
            </div>
            <div class="card-footer p-0">
                <div class="btn-group w-100" role="group">
                    <button type="button" class="btn btn-primary">
                        Not Now 
                    </button>
                    <button type="button" class="btn btn-primary">
                        Create Account
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
