{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_driver" class="p-2">
    <button class="btn btn-round" onclick="$('#main_sidebar_trigger').click()">
        <i class="fas fa-chevron-left"></i>
    </button>
    Driver
</div>
<div class="container">


    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-12">
            <div class="content_container">
                <h1 class="text-center">Sign Up</h1>
                <h5 class="text-center">Sign up to see why Homobiles is different.</h5>
                <br>
                <br>
                <div id="signup_forms">
                    <div class="tab-content">
                        <div class="tab-pane container active" id="driver">
                            <div id="FORM_driver_signup" class="card card_form purple">
                                <h5 class="card-header">
                                    Create an account
                                </h5>
                                <div class="card-body">

                                    <div class="input-group mb-2">
                                        <input type="text" class="form-control" id="first_name"
                                            placeholder="First Name">
                                    </div>
                                    <div class="input-group mb-2">
                                        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                                    </div>
                                    <div class="input-group mb-2">
                                        <input type="email" class="form-control" id="contact_email"
                                            placeholder="Contact Email">
                                    </div>
                                    <div class="input-group mb-2">
                                        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required
                                            class="form-control" id="contact_phone" placeholder="Contact Phone Number">
                                    </div>
                                    <div class="input-group mb-2 select-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">
                                                    loyalty
                                                </i>
                                            </div>
                                        </div>
                                        <select id="pronoun" class="form-control">
                                            <option value="">
                                                pronouns
                                            </option>
                                            <option value="masculine">
                                                he/him/his
                                            </option>
                                            <option value="feminine">
                                                she/her/hers
                                            </option>
                                            <option value="they/them/theirs">
                                                they/them/theirs
                                            </option>
                                            <option value="ze/zir/zirs">
                                                ze/zir/zirs
                                            </option>
                                            <option value="ze/hir/hirs">
                                                ze/hir/hirs
                                            </option>
                                            <option value="other">
                                                other
                                            </option>
                                        </select>
                                    </div>


                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">
                                                    smartphone
                                                </i>
                                            </div>
                                        </div>
                                        <select id="smartphone_type" class="form-control">
                                            <option disables="">smartphone type</option>
                                            <option value="android">
                                                android
                                            </option>
                                            <option value="blackberry">
                                                blackberry
                                            </option>
                                            <option value="iphone">
                                                iphone
                                            </option>
                                            <option value="windows">
                                                windows
                                            </option>
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">
                                                    calendar_today
                                                </i>
                                            </div>
                                        </div>
                                        <select id="vehicle_year" class="form-control">
                                            <option disables="">vehicle year</option>
                                            <option value="2002">
                                                2002
                                            </option>
                                            <option value="2003">
                                                2003
                                            </option>
                                            <option value="2004">
                                                2004
                                            </option>
                                            <option value="2005">
                                                2005
                                            </option>
                                            <option value="2006">
                                                2006
                                            </option>
                                            <option value="2007">
                                                2007
                                            </option>
                                            <option value="2008">
                                                2008
                                            </option>
                                            <option value="2009">
                                                2009
                                            </option>
                                            <option value="2010">
                                                2010
                                            </option>
                                            <option value="2011">
                                                2011
                                            </option>
                                            <option value="2012">
                                                2012
                                            </option>
                                            <option value="2013">
                                                2013
                                            </option>
                                            <option value="2014">
                                                2014
                                            </option>
                                            <option value="2015">
                                                2015
                                            </option>
                                            <option value="2016">
                                                2016
                                            </option>
                                            <option value="2017">
                                                2017
                                            </option>
                                            <option value="2018">
                                                2018
                                            </option>
                                            <option value="2019">
                                                2019
                                            </option>
                                            <option value="2020">
                                                2020
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">
                                                    directions_car
                                                </i>
                                            </div>
                                        </div>
                                        <select id="vehicle_make" class="form-control" style="text-transform:lowercase">
                                            <option disables="">vehicle make</option>
                                            <option value="Acura">
                                                Acura
                                            </option>
                                            <option value="Alfa Romeo">
                                                Alfa Romeo
                                            </option>
                                            <option value="AMC">
                                                AMC
                                            </option>
                                            <option value="Aston Martin">
                                                Aston Martin
                                            </option>
                                            <option value="Audi">
                                                Audi
                                            </option>
                                            <option value="Bentley">
                                                Bentley
                                            </option>
                                            <option value="BMW">
                                                BMW
                                            </option>
                                            <option value="Buick">
                                                Buick
                                            </option>
                                            <option value="Cadillac">
                                                Cadillac
                                            </option>
                                            <option value="Chevrolet">
                                                Chevrolet
                                            </option>
                                            <option value="Chrysler">
                                                Chrysler
                                            </option>
                                            <option value="Daewoo">
                                                Daewoo
                                            </option>
                                            <option value="Datsun">
                                                Datsun
                                            </option>
                                            <option value="Dodge">
                                                Dodge
                                            </option>
                                            <option value="Eagle">
                                                Eagle
                                            </option>
                                            <option value="Ferrari">
                                                Ferrari
                                            </option>
                                            <option value="Ford">
                                                Ford
                                            </option>
                                            <option value="Geo">
                                                Geo
                                            </option>
                                            <option value="GMC">
                                                GMC
                                            </option>
                                            <option value="Honda">
                                                Honda
                                            </option>
                                            <option value="HUMMER">
                                                HUMMER
                                            </option>
                                            <option value="Hyundai">
                                                Hyundai
                                            </option>
                                            <option value="Infiniti">
                                                Infiniti
                                            </option>
                                            <option value="Isuzu">
                                                Isuzu
                                            </option>
                                            <option value="Jaguar">
                                                Jaguar
                                            </option>
                                            <option value="Jeep">
                                                Jeep
                                            </option>
                                            <option value="Kia">
                                                Kia
                                            </option>
                                            <option value="Lamborghini">
                                                Lamborghini
                                            </option>
                                            <option value="Land Rover">
                                                Land Rover
                                            </option>
                                            <option value="Lexus">
                                                Lexus
                                            </option>
                                            <option value="Lincoln">
                                                Lincoln
                                            </option>
                                            <option value="Lotus">
                                                Lotus
                                            </option>
                                            <option value="Maserati">
                                                Maserati
                                            </option>
                                            <option value="Mazda">
                                                Mazda
                                            </option>
                                            <option value="Mercedes-Benz">
                                                Mercedes-Benz
                                            </option>
                                            <option value="Mercury">
                                                Mercury
                                            </option>
                                            <option value="MINI">
                                                MINI
                                            </option>
                                            <option value="Mitsubishi">
                                                Mitsubishi
                                            </option>
                                            <option value="Nissan">
                                                Nissan
                                            </option>
                                            <option value="Oldsmobile">
                                                Oldsmobile
                                            </option>
                                            <option value="Plymouth">
                                                Plymouth
                                            </option>
                                            <option value="Pontiac">
                                                Pontiac
                                            </option>
                                            <option value="Porsche">
                                                Porsche
                                            </option>
                                            <option value="Renault">
                                                Renault
                                            </option>
                                            <option value="Rolls-Royce">
                                                Rolls-Royce
                                            </option>
                                            <option value="Saab">
                                                Saab
                                            </option>
                                            <option value="Saturn">
                                                Saturn
                                            </option>
                                            <option value="Scion">
                                                Scion
                                            </option>
                                            <option value="Smart">
                                                Smart
                                            </option>
                                            <option value="Subaru">
                                                Subaru
                                            </option>
                                            <option value="Suzuki">
                                                Suzuki
                                            </option>
                                            <option value="Toyota">
                                                Toyota
                                            </option>
                                            <option value="Volkswagen">
                                                Volkswagen
                                            </option>
                                            <option value="Volvo">
                                                Volvo
                                            </option>
                                            <option value="Other">
                                                Other (Not Listed)
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">
                                                    airport_shuttle
                                                </i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="vehicle_model"
                                            placeholder="vehicle model">
                                    </div>

                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="material-icons">
                                                    exposure_plus_2
                                                </i>
                                            </div>
                                        </div>
                                        <select id="vehicle_doors" class="form-control"
                                            style="text-transform:lowercase">
                                            <option disables="">number of doors</option>
                                            <option value="2">
                                                Two
                                            </option>
                                            <option value="3">
                                                Three
                                            </option>
                                            <option value="4">
                                                Four
                                            </option>
                                            <option value="5">
                                                Five
                                            </option>
                                            <option value="5+">
                                                Five+
                                            </option>
                                        </select>
                                    </div>
                                    <!-- <hr>
                <p id="yes_no_square">Do you have square (squareup.com) or something similar to allow you to accept credit card
                    donations?</p>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="yes_no_square" id="true" value="true">
                    <label class="form-check-label" for="true">
                        true
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="yes_no_square" id="false" value="false">
                    <label class="form-check-label" for="false">
                        false
                    </label>
                </div>
                <hr> -->
                                    <p id="yes_no_insurance">Do you have comprehensive (full) insurance on your vehicle?
                                    </p>
                                    <p
                                        style="color: purple; margin-top: -15px; font-size: 80%; margin-left: 10px; margin-right: 10px;">
                                        Note: Drivers are
                                        required to have comprehensive (full) insurance on their vehicle.
                                    </p>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="yes_no_insurance" id="true"
                                            value="true">
                                        <label class="form-check-label" for="true">
                                            yes
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="yes_no_insurance" id="false"
                                            value="false">
                                        <label class="form-check-label" for="false">
                                            no
                                        </label>
                                    </div>
                                    <hr>
                                    <p id="yes_no_criminal_history">Do you consent to a criminal history background
                                        check and drug testing?</p>
                                    <p
                                        style="color: purple; margin-top: -15px; font-size: 80%; margin-left: 10px; margin-right: 10px;">
                                        Note: Applicants
                                        selected as volunteer drivers will be required to
                                        undergo a criminal history background check and a drug test.</p>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="yes_no_criminal_history"
                                            id="true" value="true">
                                        <label class="form-check-label" for="true">
                                            yes
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="yes_no_criminal_history"
                                            id="false" value="false">
                                        <label class="form-check-label" for="false">
                                            no
                                        </label>
                                    </div>
                                    <hr>
                                    <p>
                                        Use this area to tell us anything you like, such as why you want to drive for
                                        us, the shifts you'd like to
                                        volunteer, etc.
                                    </p>
                                    <div class="input-group mb-2" id="open-input">
                                        <textarea class="form-control" id="comments"></textarea>
                                    </div>
                                    <div class="form_message form_error alert alert-danger hidden">
                                    </div>
                                    <div class="form_message form_success alert alert-success hidden">
                                    </div>

                                    <div class="text-right">
                                        <button class="btn btn-outline-secondary"
                                            onclick="applib.forms.driver_signup()">
                                            Sign Up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center">
                Already have an account? Go to <a href="/login">login</a> instead.
            </p>
            <br>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

<style>
    #signup_forms li.nav-item {
        width: 100%;
        text-align: center;
    }

    #signup_forms a.nav-link.active {
        display: none;
    }
</style>

</div>
<script>
    var applib = {
        init: function () {
            console.log("init");
        },
        forms: {
            driver_signup: driver_signup,
        }
    }

    /*------------------------------------------------------------------------------
    Forms
    ------------------------------------------------------------------------------*/

    function get_radio_bool(form_id, name) {
        value = "";
        radios = $("[name='" + name + "']");
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                value = radios[i].value;
                break;
            }
        }
        return value;
    }

    function driver_signup() {
        form_id = "FORM_driver_signup";
        // username = $("#" + form_id + " #username").val();
        pronoun = $("#" + form_id + " #pronoun :selected").val();
        first_name = $("#" + form_id + " #first_name").val();
        last_name = $("#" + form_id + " #last_name").val();
        contact_email = $("#" + form_id + " #contact_email").val();
        contact_phone = $("#" + form_id + " #contact_phone").val();
        // password = $("#" + form_id + " #password").val();
        // repeat_password = $("#" + form_id + " #repeat_password").val();
        smartphone_type = $("#" + form_id + " #smartphone_type").val();
        vehicle_year = $("#" + form_id + " #vehicle_year").val();
        vehicle_make = $("#" + form_id + " #vehicle_make").val();
        vehicle_model = $("#" + form_id + " #vehicle_model").val();
        vehicle_doors = $("#" + form_id + " #vehicle_doors").val();
        // yes_no_square = get_radio_bool(form_id, "yes_no_square");
        yes_no_insurance = get_radio_bool(form_id, "yes_no_insurance");
        yes_no_criminal_history = get_radio_bool(form_id, "yes_no_criminal_history");
        comments = "";
        comments = $("#" + form_id + " #comments").val();
        errors = {};
        /*
        if (username == "") {
            errors["username"] = "Username is required."
        }
        */
        if (pronoun == "Pronoun") {
            errors["pronoun"] = "Pronoun is required."
        }
        if (first_name == "") {
            errors["first_name"] = "First name is required."
        }
        if (last_name == "") {
            errors["last_name"] = "Last name is required."
        }
        if (contact_email == "") {
            errors["contact_email"] = "Contact email is required."
        }
        if (contact_phone == "") {
            errors["contact_phone"] = "Contact phone is required."
        }
        /*
        if (password == "") {
            errors["password"] = "Password is required."
        }
        if (repeat_password == "") {
            errors["repeat_password"] = "Repeated password is required."
        }
        */
        if (smartphone_type == "Smartphone Type") {
            errors["smartphone_type"] = "Smartphone type is required."
        }
        if (vehicle_year == "Vehicle Year") {
            errors["vehicle_year"] = "Vehicle year is required."
        }
        if (vehicle_make == "Vehicle Make") {
            errors["vehicle_make"] = "Vehicle make is required."
        }
        if (vehicle_model == "") {
            errors["vehicle_model"] = "Vehicle model is required."
        }
        if (vehicle_doors == "Number of Doors") {
            errors["vehicle_doors"] = "Number of vehicle doors is required."
        }
        // if (yes_no_square == "") {
        //     errors["yes_no_square"] = "Question about Square is required."
        // }
        if (yes_no_insurance == "") {
            errors["yes_no_insurance"] = "Question about insurance is required."
        }
        if (yes_no_criminal_history == "") {
            errors["yes_no_criminal_history"] = "Question about criminal history is required."
        }
        if (comments == "") {
            // errors["comments"] = "Comments are required."
        }
        if (Object.keys(errors).length > 0) {
            console.log(errors);
            form_error(errors, form_id);
        } else {
            data = {
                "command": "driver_signup",
                // "username": username,
                "pronoun": pronoun,
                "first_name": first_name,
                "last_name": last_name,
                "contact_email": contact_email,
                "contact_phone": contact_phone,
                // "password": password,
                // "repeat_password": repeat_password,
                "smartphone_type": smartphone_type,
                "vehicle_year": vehicle_year,
                "vehicle_make": vehicle_make,
                "vehicle_model": vehicle_model,
                "vehicle_doors": vehicle_doors,
                // "yes_no_square": yes_no_square,
                "yes_no_insurance": yes_no_insurance,
                "yes_no_criminal_history": yes_no_criminal_history,
                "comments": comments,
            }
            submit_form(form_id, data);
        }
    }


        /*------------------------------------------------------------------------------
         Form Utils
         ------------------------------------------------------------------------------*/

        function submit_form(form_id, data) {
            // var test = '6LeoZbYUAAAAAJAN7NGGbFuT8qNKGPdKyqG6IgRR';
            grecaptcha.ready(function () {
                console.log("FORM_ID: " + form_id);
                grecaptcha.execute(
                    '6LeoZbYUAAAAAP3yjdxMcf4uLfxFDiE_razm0koU',
                    { action: form_id })
                    .then(function (token) {
                        console.log("DATA: ");
                        console.log(data);
                        console.log("TOKEN RECIEVED: " + token);
                        data['_grecaptcha_token'] = token;
                        $.ajax({
                            "url": "/",
                            "data": data,
                            "type": "POST",
                            "statusCode": {
                                200: function (resp) {
                                    console.log("200");
                                    console.log(resp);
                                    clear_form_messages(form_id);
                                    form_success([resp], form_id);
                                    $("#" + form_id + " button").attr("onclick", "").unbind("click");
                                },
                                302: function (resp) {
                                    console.log("302");
                                    console.log(resp.responseText);
                                    window.location.href = resp.responseText;
                                },
                                500: function (err) {
                                    console.log("500");
                                    console.error(err);
                                    form_error(["There was an unknown error."], form_id);
                                },
                                503: function (err) {
                                    console.log("503");
                                    console.error(err);
                                    form_error([
                                        "This service is temporarily down at this time."
                                    ], form_id);
                                },
                                400: function (err) {
                                    console.log("400");
                                    console.log(err.responseText);
                                    form_error([err.responseText], form_id);
                                },
                                403: function (err) {
                                    console.log("403");
                                    console.error(err);
                                    form_error([err.responseText], form_id);
                                },
                                404: function (err) {
                                    console.log("404");
                                    console.error(err);
                                    form_error([
                                        "This service is temporarily down at this time."
                                    ], form_id);
                                },
                            }
                        })
                    });
            });
        }

        function clear_form_messages(form_id) {
            $("#" + form_id).find("*").removeClass("input_error");
            $("#" + form_id + " .form_error").addClass("hidden");
            $("#" + form_id + " .form_error").html("");
            $("#" + form_id + " .form_success").addClass("hidden");
            $("#" + form_id + " .form_success").html("");
        }

        function form_error(errors, form_id) {
            clear_form_messages(form_id);
            ids = Object.keys(errors);
            messages = Object.values(errors);
            $("#" + form_id + " .form_error").html(messages.join("<br>"));
            $("#" + form_id + " .form_error").removeClass("hidden");
            for (i = 0; i < ids.length; i++) {
                id = ids[i];
                $("#" + form_id + " #" + id).addClass("input_error");
            }
        }

        function form_success(message, form_id) {
            clear_form_messages(form_id);
            $("#" + form_id + " .form_success").html(message);
            $("#" + form_id + " .form_success").removeClass("hidden");
        }
    
</script>
{% endblock %}