{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_help">
    <button class="btn btn-light btn-round"
            onclick="$('#main_sidebar_trigger').click()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <h3>
        What can we help you with?
    </h3>
    <hr>
    <a href="/report_a_recent_ride">
        <p class="text-dark">
            Report a recent ride
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/report_a_lost_item">
        <p class="text-dark">
            Report a lost item
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/how_ride_payment_works">
        <p class="text-dark">
            How ride payment works
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/free_rides">
        <p class="text-dark">
            Free rides
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/saftey">
        <p class="text-dark">
            Saftey
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/policies">
        <p class="text-dark">
            Policies
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/legal">
        <p class="text-dark">
            Legal
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
</div>
{% endblock %}
