{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_main_screen">
    <button id="menu_button" class="btn btn-primary btn-round"
        onclick="$('#main_sidebar_trigger').click()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <div id="map">
        Ride Map:
    </div>
    <a href="/set_location/">
        <div id="ride_form" class="border-top bg-light">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <input type="text" class="form-control"
                    placeholder="Search destination for a ride ASAP">
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <input type="text" class="form-control"
                       placeholder="Schedule a future ride">
            </div>
        </div>
    </a>
</div>
<style>
#map {
    position: absolute;
    overflow: hidden;
    height: calc(100vh - 105px);
    width: 100%;
    top: 0px;
    z-index: 0;
}
#main_content {
    padding: 0px;
}
#menu_button {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}
</style>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
    }
</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfwDp5KwMFKCXAvJGozoRRxcMGyfRsopo&callback=initMap">
async defer></script>
{% endblock %}