{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_main_screen">
    <button id="menu_button" class="btn btn-primary btn-round"
        onclick="$('#main_sidebar_trigger').click()">
        <i class="fas fa-chevron-left"></i>
    </button>

    <div style="display: none">
        <input id="origin-input" class="controls" type="text"
            placeholder="Enter an origin location">

        <input id="destination-input" class="controls" type="text"
            placeholder="Enter a destination location">

    </div>

    <div id="map">
        Ride Map:
    </div>
    <a href="/set_location/">
        <div id="ride_form" class="border-top bg-light">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <input type="text" class="form-control"
                    placeholder="Search destination for a ride ASAP">
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <input type="text" class="form-control"
                       placeholder="Schedule a future ride">
            </div>
        </div>
    </a>
</div>
<style>
#map {
    position: absolute;
    overflow: hidden;
    height: calc(100vh - 105px);
    width: 100%;
    top: 0px;
    z-index: 0;
}
#main_content {
    padding: 0px;
}
#menu_button {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}
</style>

<script>
// This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script
// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

function initMap() {

    console.log("INIT MAP...");

    var map = new google.maps.Map(document.getElementById('map'), {
        mapTypeControl: false,
        center: {lat: -33.8688, lng: 151.2195},
        zoom: 13
    });

    new AutocompleteDirectionsHandler(map);
}

/**
 * @constructor
 */
function AutocompleteDirectionsHandler(map) {
    this.map = map;
    this.originPlaceId = null;
    this.destinationPlaceId = null;
    this.travelMode = 'DRIVING';
    this.directionsService = new google.maps.DirectionsService;
    this.directionsRenderer = new google.maps.DirectionsRenderer;
    this.directionsRenderer.setMap(map);

    var originInput = document.getElementById('origin-input');
    var destinationInput = document.getElementById('destination-input');
    var modeSelector = document.getElementById('mode-selector');

    var originAutocomplete = new google.maps.places.Autocomplete(originInput);
    // Specify just the place data fields that you need.
    originAutocomplete.setFields(['place_id']);

    var destinationAutocomplete =
            new google.maps.places.Autocomplete(destinationInput);
    // Specify just the place data fields that you need.
    destinationAutocomplete.setFields(['place_id']);


    this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
    this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

    this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
    this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(
            destinationInput);
    this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
}

AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(
        autocomplete, mode) {
    var me = this;
    autocomplete.bindTo('bounds', this.map);

    autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();

        if (!place.place_id) {
            window.alert('Please select an option from the dropdown list.');
            return;
        }
        if (mode === 'ORIG') {
            me.originPlaceId = place.place_id;
        } else {
            me.destinationPlaceId = place.place_id;
        }
        me.route();
    });
};

AutocompleteDirectionsHandler.prototype.route = function() {
    if (!this.originPlaceId || !this.destinationPlaceId) {
        return;
    }
    var me = this;

    this.directionsService.route(
    {
        origin: {'placeId': this.originPlaceId},
        destination: {'placeId': this.destinationPlaceId},
        travelMode: this.travelMode
    },
    function(response, status) {
        if (status === 'OK') {
            me.directionsRenderer.setDirections(response);
        } else {
            window.alert('Directions request failed due to ' + status);
        }
    });
};

window.addEventListener("load", function() {
    var start_address = getCookie("start_address");
    var end_address = getCookie("end_address");

    $("#origin-input").val(start_address);
    $("#destination-input").val(end_address);
});

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfwDp5KwMFKCXAvJGozoRRxcMGyfRsopo&libraries=places&callback=initMap"
        async defer></script>
{% endblock %}