{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_phone_verification" class="p-2">
    <a href="/" class="btn btn-round">
        <i class="fas fa-chevron-left"></i>
    </a>
    <form action="/phone_verification/" method="post">
        <p class="h3">
            What's your phone number?
        <h6 class="m-0">
            We’ll text you a code to verify your phone.
        </h6>
        </p>
        {% csrf_token %}
        <input
                name="phone_number"
                placeholder="Enter your phone number here"
                type="text" class="form-control"/>
        {% if error != "" %}
        <div class="alert alert-danger my-3">
            {{ error }}
        </div>
        {% endif %}
        <button type="submit" class="btn float-right">
            Save
        </button>
    </form>
</div>
{% endblock %}
