{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_phone_verification" class="p-2">
    <button class="btn btn-round"
        onclick="window.history.back()">
        <i class="fas fa-chevron-left"></i>
    </button>
    <form action="/profile/" method="post">
        {% csrf_token %}
        <h5 class="text-center m-0">
            What's your name?
        </h5>
        <input
                name="username"
                value="{{ username }}"
               type="text" class="form-control"/>
        <br>
        <h5 class="text-center m-0">
            What are your preferred pronouns?
        </h5>
        <select name="pronoun_id"
                class="form-control">
            {% for opt in all_pronouns %}
            <option value="{{ opt.id }}"
                    {% if opt == pronoun %}selected="selected"{% endif %}>
                {{ opt.display_name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <h5 class="text-center m-0">
            Do you require accommodations?
        </h5>
        <div class="card bg-light">
            <div class="card-body">
            {% for checkbox in all_accommodations %}
            <label>
                <input type="checkbox" name="accommodation_{{ checkbox.id }}"
                       {% if checkbox in accommodations %}
                       checked
                       {% endif %}
                >
                {{ checkbox.display_name }}
            </label>
            <br>
            {% endfor %}
            </div>
        </div>
        {% if error != "" %}
        <div class="alert alert-danger my-3">
            {{ error }}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-round mt-3 float-right">
            Save
        </button>
    </form>
</div>
{% endblock %}
