{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_set_location">
    <a href="/main_screen">
        <button class="btn btn-light btn-round">
            <i class="fas fa-chevron-left"></i>
        </button>
    </a>
    <h3>
        Where can we take you?
    </h3>
    <div class="location_setter">



        <form action="/set_location/" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        start
                    </div>
                </div>
                <input id="autocomplete_start"
                       value="{{ start_address }}"
                       class="form-control"
                       placeholder="Enter your address"
                       onFocus="geolocate('start')"
                       type="text"/>
            </div>
            <br>
            <input id="start_place_id"
                   value="{{ start_place_id }}">
            <br>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        end
                    </div>
                </div>
                <input id="autocomplete_end"
                       value="{{ end_address }}"
                       class="form-control"
                       placeholder="Enter your address"
                       onFocus="geolocate('end')"
                       type="text"/>
            </div>
            <br>
            <input id="end_place_id"
                   value="{{ end_place_id }}">
            <button type="submit" class="btn btn-round mt-3 float-right">
                done
            </button>
        </form>
    </div>

    <script>
// This sample uses the Autocomplete widget to help the user select a
// place, then it retrieves the address components associated with that
// place, and then it populates the form fields with those details.
// This sample requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script
// src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfwDp5KwMFKCXAvJGozoRRxcMGyfRsopo&libraries=places">

var placeSearch, autocomplete;
var input_id = "none"; // this is defined in geolocate(input_id);

var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
};

function initAutocomplete() {

    console.log("INPUT_ID: " + input_id);

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Create the autocomplete object, restricting the search predictions to
    // geographical location types.
    autocomplete_start = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete_start'), {types: ['geocode']});

    // Avoid paying for data that you don't need by restricting the set of
    // place fields that are returned to just the address components.
    autocomplete_start.setFields(['address_component']);

    // When the user selects an address from the drop-down, populate the
    // address fields in the form.
    autocomplete_start.addListener('place_changed', fillInAddress);

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Create the autocomplete object, restricting the search predictions to
    // geographical location types.
    autocomplete_end = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete_end'), {types: ['geocode']});

    // Avoid paying for data that you don't need by restricting the set of
    // place fields that are returned to just the address components.
    autocomplete_end.setFields(['address_component']);

    // When the user selects an address from the drop-down, populate the
    // address fields in the form.
    autocomplete_end.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
    // TEMP
    // @TODO maybe geocode and get place_id, etc here.
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate(id) {

    console.log("geolocate(): " + id);
    input_id = id;

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var circle = new google.maps.Circle(
                    {center: geolocation, radius: position.coords.accuracy});
        });
    }
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfwDp5KwMFKCXAvJGozoRRxcMGyfRsopo&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}
