{% extends "rideshare/layout.html" %}

{% block content %}
<div id="page_set_location" class="p-2" class="p-2">
    <a href="/main_screen">
        <button class="btn btn-light btn-round">
            <i class="fas fa-chevron-left"></i>
        </button>
    </a>
    <h3>
        Where can we take you?
    </h3>
    <div class="location_setter">



        <form action="/set_location/" method="post">
            {% csrf_token %}
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        start
                    </div>
                </div>
                <input id="autocomplete_start"
                       value="{{ start_address }}"
                       class="form-control"
                       placeholder="Enter your address"
                       onFocus="geolocate('start')"
                       name="start_address"
                       type="text"/>
            </div>
            <div style="display: none;">
                <input id="start_place_id"
                       name="start_place_id">
                <input id="start_lat"
                       name="start_lat">
                <input id="start_lng"
                       name="start_lng">
            </div>
            <div class="input-group input-group-sm mt-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        end
                    </div>
                </div>
                <input id="autocomplete_end"
                       value="{{ end_address }}"
                       class="form-control"
                       placeholder="Enter your address"
                       onFocus="geolocate('end')"
                       name="end_address"
                       type="text"/>
            </div>
            <div class="input-group input-group-sm mt-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                            calendar_today
                        </i>
                    </div>
                </div>
                <input type="date" class="form-control"
                       id="pickup_date"
                       name="pickup_date">
            </div>
            <div class="input-group input-group-sm mt-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="material-icons">
                            access_time
                        </i>
                    </div>
                </div>
                <input type="time" class="form-control"
                       id="pickup_time"
                       name="pickup_time">
            </div>
            <div style="display: none;">
                <input id="end_place_id"
                       name="end_place_id"
                       value="{{ end_place_id }}">
                <input id="end_lat"
                       name="end_lat">
                <input id="end_lng"
                       name="end_lng">
                <input type="number"
                    id="timezone_offset"
                    name="timezone_offset">
            </div>
            <button id="submit_ride_request_form" type="submit" class="btn btn-primary"
                style="display: none;">
                geolocate
            </button>
            <div id="error_msg" class="mt-2
                    {% if error|length > 0 %}
                    {% else %}
                        hidden
                    {% endif %}
                alert alert-danger">
                {% if error|length > 0 %}
                    {{ error }}
                {% else %}
                    Error...
                {% endif %}
            </div>
        </form>
        <button type="submit" class="btn btn-round mt-3 float-right"
            onclick="preload_place_info()">
            done
        </button>
    </div>

    <script>
function preload_place_info() {

    /*
    1) Set the timezone offset since the default "now" value needs to
    be adjusted to a UTC/GMT backend timestamp.
    2) On click, use AJAX to geocode the address fields to get info
    such as the google maps place_id and lat/lng.
    */

    // 1)
    var date = new Date();
    var offset = date.getTimezoneOffset();
    $("#timezone_offset").val(offset);
    // 2)
    console.log("Preloading place info...");
    var start_address = $("#autocomplete_start").val();
    var end_address = $("#autocomplete_end").val();
    $.ajax({
        method: "POST",
        url: "/geocode/",
        data: {
            start_address: start_address,
            end_address: end_address,
        },
        success: function(resp) {
            $("#error_msg").addClass("hidden");
            console.log(resp);
            var start_place_id = resp["start_place_id"];
            var start_lat = resp["start_lat"];
            var start_lng = resp["start_lng"];
            var end_place_id = resp["end_place_id"];
            var end_lat = resp["end_lat"];
            var end_lng = resp["end_lng"];
            console.log("OK");
            $("#start_place_id").val(start_place_id);
            $("#start_lat").val(start_lat);
            $("#start_lng").val(start_lng);
            $("#end_place_id").val(end_place_id);
            $("#end_lat").val(end_lat);
            $("#end_lng").val(end_lng);
            $("#submit_ride_request_form").click();

            // Set the address to the cookie.
            setCookie("start_address", start_address);
            setCookie("end_address", end_address);
            setCookie("originPlaceId", start_place_id);
            setCookie("destinationPlaceId", end_place_id);
            var pickup_time_val = $("#pickup_time").val();
            if (pickup_time_val != "") {
                setCookie("pickup_time", pickup_time_val);
            }
            var pickup_date_val = $("#pickup_date").val();
            if (pickup_date_val != "") {
                setCookie("pickup_date", pickup_date_val);
            }
        },
        error: function(resp) {
            console.log("ERROR");
            console.log(resp.responseJSON);
            $("#error_msg").html(resp.responseJSON.error);
            $("#error_msg").removeClass("hidden");
        },
    });
}
// This sample uses the Autocomplete widget to help the user select a
// place, then it retrieves the address components associated with that
// place, and then it populates the form fields with those details.
// This sample requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script
// src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfwDp5KwMFKCXAvJGozoRRxcMGyfRsopo&libraries=places">

var placeSearch, autocomplete;
var input_id = "none"; // this is defined in geolocate(input_id);

var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
};

function initAutocomplete() {

    console.log("INPUT_ID: " + input_id);

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Create the autocomplete object, restricting the search predictions to
    // geographical location types.
    autocomplete_start = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete_start'), {types: ['geocode']});

    // Avoid paying for data that you don't need by restricting the set of
    // place fields that are returned to just the address components.
    autocomplete_start.setFields(['address_component']);

    // When the user selects an address from the drop-down, populate the
    // address fields in the form.
    autocomplete_start.addListener('place_changed', fillInAddress);

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Create the autocomplete object, restricting the search predictions to
    // geographical location types.
    autocomplete_end = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete_end'), {types: ['geocode']});

    // Avoid paying for data that you don't need by restricting the set of
    // place fields that are returned to just the address components.
    autocomplete_end.setFields(['address_component']);

    // When the user selects an address from the drop-down, populate the
    // address fields in the form.
    autocomplete_end.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
    // TEMP
    // @TODO maybe geocode and get place_id, etc here.
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate(id) {

    console.log("geolocate(): " + id);
    input_id = id;

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var circle = new google.maps.Circle(
                    {center: geolocation, radius: position.coords.accuracy});
        });
    }
}

window.addEventListener("load", function() {

    /*
    Set the form addresses (origin and destination) to whatever may have
    already been set in a previous form submission.
    */

    var start_address = getCookie("start_address");
    var end_address = getCookie("end_address");
    if (start_address != null) {
        $("#autocomplete_start").val(start_address);
    }
    if (end_address != null) {
        $("#autocomplete_end").val(end_address);
    }

    /*
    Also set the date and time from the timestamp. This may be more
    subitle since it has to be converted from a UTC timestamp.
    */

    // First check if it has a value, the set it to now if no value
    // has been set by a previous process.
    var pickup_date = getCookie("pickup_date");
    if (pickup_date != null ) {
        if (pickup_date == "") {
            // Set to now();
            document.getElementById('pickup_date').valueAsDate = new Date();
        } else {
            // Set to cookie value.
            document.getElementById('pickup_date').value = pickup_date;
        }
    } else {
        // Set to now();
        document.getElementById('pickup_date').valueAsDate = new Date();
    }
    // Note: In order to set the time input field to "now", we have to
    // first get the string in HH:mm, then pad an extra zero if the time
    // starts with single digits. If the time is past 12:00 noon, the
    // "AM" and "PM" portions will automatically set.

    var date = new Date();
    var now_hours = date.getHours().toString();
    var now_minutes = date.getMinutes().toString();
    if (now_hours.length == 1) {
        now_hours = "0" + now_hours;
    }
    if (now_minutes.length == 1) {
        now_minutes = "0" + now_minutes;
    }
    var currentTime = now_hours + ':' + now_minutes;
    var pickup_time = getCookie("pickup_time");
    // alert(currentTime);
    if (pickup_time != null) {
        if (pickup_time == "") {
            // Set to cookie value.
            document.getElementById('pickup_time').value = pickup_time;
        } else {
            // Set to now().
            document.getElementById('pickup_time').value = currentTime;
        }
    } else {
        // Set to now().
        document.getElementById('pickup_time').value = currentTime;
    }
});

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfwDp5KwMFKCXAvJGozoRRxcMGyfRsopo&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}
