{% extends "rideshare/layout.html" %}

{% block content %}
<style>
#page_settings h3 {
    padding-left: 15px;
    padding-right: 15px;
}
#page_settings p {
    padding-left: 15px;
    padding-right: 15px;
}
</style>
<div id="page_settings">
    <button class="btn btn-round m-2"
            onclick="$('#main_sidebar_trigger').click()">
        <i class="fas fa-bars"></i>
    </button>
    <h3>
        Settings
    </h3>
    <hr>
    <a href="/account">
        <p class="text-dark">
            Account
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/location">
        <p class="text-dark">
            Location
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/notifications">
        <p class="text-dark">
            Notifications
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/emergency">
        <p class="text-dark">
            Emergency
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/trusted_contacts">
        <p class="text-dark">
            Trusted Contacts
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/accounts/logout">
        <p class="text-dark">
            Log Out
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
    <a href="/delete_account">
        <p class="text-dark">
            Delete Account
            <i class="fas fa-chevron-right float-right"></i>
        </p>
    </a>
    <hr>
</div>
{% endblock %}
