{% extends "rideshare/index.html" %}

{% block content %}
<div id="page_verification_phone" class="p-3">
    <div class="back_nav my-3">
        <a href="verification_phone">
            <i class="material-icons">arrow_back_ios</i>
        </a>
    </div>
    <h3>Enter your code</h3>
    <h6>Enter the verification code we sent you</h6>
    <input type="text" placeholder="X X X X X" class="form-control mb-3"></input>
    <button class="round_button">
        <a href="main_screen">
            <i class="material-icons">arrow_forward</i>
        </a>
    </button>
</div>
{% endblock %}
